*{
    padding: 0;
    box-sizing: content-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(197, 23, 23);
    color: #8dfb61;
  }
  .clock {
    font-size: 60px;
  }
  h1{
    color: rgb(0, 81, 255);
    position: fixed ;
    top: 190px;
  }